
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* animation: transitionIn 1s; */
.topbar {
    width: 100%;
    height: 80px;
    background-color: #FFD700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    display: flex;
}

.topbar li a {
    display: block;
    color: #000000;
    padding: 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.topbar li a:hover {
    background-color: #ffffff;
    color: #181444;
}

#customerdata {
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 1600px;
    height: 800px;
    margin-top: 250px;
    margin-left: 595px;
    background-color: #DFE6F0;
    z-index: 100;
}

#customerdata h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #181444;
    font-size: 50px;
    margin-top: 20px;
    animation: transitionIn 1s;
}

#customerdata p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    animation: transitionIn 1s;
}

#customerdata button {
    width: 100px;
    height: 50px;
    background-color: #FFD700;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 750px;
    transition: box-shadow 0.2s ease-in-out;
    animation: transitionIn 1s;
}

#customerdata button:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.tableCustomerData {
    height: 170;
    width: 1500;
    margin-left: 50px;
    border-collapse: collapse;
    animation: transitionIn 1s;
}

.tableCustomerData th td {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #181444;
    text-align: center;
    animation: transitionIn 1s;
}

.tableCustomerData tr {
    font-family: 'Poppins', sans-serif;
    color: #181444;
    text-align: center;
    animation: transitionIn 1s;
}

.tableCustomerData a {
    color: #181444;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    animation: transitionIn 1s;
}

#customerorder {
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 1600px;
    height: 800px;
    margin-top: 250px;
    margin-left: 595px;
    background-color: #DFE6F0;
    z-index: 100;
}

#customerorder h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #181444;
    font-size: 50px;
    margin-top: 20px;
    animation: transitionIn 1s;
}

#customerorder p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    animation: transitionIn 1s;
}

#customerorder button {
    width: 100px;
    height: 50px;
    background-color: #181444;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 750px;
    transition: box-shadow 0.2s ease-in-out;
    animation: transitionIn 1s;
}

#customerorder button:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.tableCustomerOrder {
    height: 170;
    width: 1500;
    margin-left: 50px;
    border-collapse: collapse;
    animation: transitionIn 1s;
}

.tableCustomerOrder th {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #FFD700;
    text-align: center;
    animation: transitionIn 1s;
}

.tableCustomerOrder td.pending {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: orange;
    text-align: center;
    animation: transitionIn 1s;
}

.tableCustomerOrder td.ready {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: green;
    text-align: center;
    animation: transitionIn 1s;
}

.tableCustomerOrder td.cancel {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: red;
    text-align: center;
    animation: transitionIn 1s;
}

.tableCustomerOrder tr {
    font-family: 'Poppins', sans-serif;
    color: #FFD700;
    text-align: center;
    animation: transitionIn 1s;
}

.tableCustomerOrder a {
    color: #FFD700;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    animation: transitionIn 1s;
}

#statistic {
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 1600px;
    height: 800px;
    margin-top: 290px;
    margin-left: 490px;
    background-color: #DFE6F0;
    z-index: 100;
}

#statistic button {
    width: 100px;
    height: 50px;
    background-color: #FFD700;
    border-radius: 25px;
    border-color: #7a2005;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 750px;
    transition: box-shadow 0.2s ease-in-out;
    animation: transitionIn 1s;
}

#statistic button:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.hide {
    color: white;
}

.box1 {
    width: 1500px;
    height: 250px;
    background-color: white;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.box2 {
    width: 500px;
    height: 250px;
    background-color: white;
    margin-top: 50px;
    margin-left: 550px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.table1 {
    margin-top: 25px;
    margin-left: 80px;
    width: 93%;
}

.table2 {
    margin-top: 25px;
    margin-left: 80px;
    width: 80%;
}

.title1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #181444;
    margin-top: 20px;
    animation: transitionIn 1s;
}

.text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #181444;
    line-height: 10px;
    animation: transitionIn 1s;
}

.img1 {
    width: 130px;
    height: 130px;
    animation: transitionIn 1s;
}

#menu {
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 1600px;
    height: 800px;
    margin-top: 250px;
    margin-left: 595px;
    background-color: #DFE6F0;
    z-index: 100;
}

#menu h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #181444;
    font-size: 50px;
    margin-top: 20px;
    animation: transitionIn 1s;
}

#menu p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    animation: transitionIn 1s;
}

#menu button {
    width: 100px;
    height: 50px;
    background-color: #181444;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 750px;
    transition: box-shadow 0.2s ease-in-out;
    animation: transitionIn 1s;
}

#menu button:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.table-container {
    max-height: 555px;
    min-height: 555px;
    padding: 10px;
    overflow-y: scroll;
}

.menu {
    height: 150;
    width: 1500;
    margin-left: 50px;
    border-collapse: collapse;
    animation: transitionIn 1s;
    background-color: #FFD700;
}

.menu th {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #181444;
    text-align: center;
    animation: transitionIn 1s;
}

.menu td.unavailable {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: red;
    text-align: center;
    animation: transitionIn 1s;
}

.menu td.available {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: green;
    text-align: center;
    animation: transitionIn 1s;
}

.menu tr {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    text-align: center;
    animation: transitionIn 1s;
}

.menu a {
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    animation: transitionIn 1s;
}

.change {
    width: 70px;
    height: 30px;
    background-color: #181444;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    transition: box-shadow 0.2s ease-in-out;
    animation: transitionIn 1s;
}

a:visited {
    color: #181444;
    text-decoration: none;
}