*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin: 0;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.solid-box {
    background-color: #FFD700;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease;
  }

.solid-box.scrolled {
    background-color: #7a2005;
  }

.logo {
    color: #7a2005;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-size: 60px;
    font-family: Bedrock;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.home-button,
.menu-button,
.login-button,
#cart-button {
    color:  #7a2005;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-size: larger;
    font-weight: bold;
    margin-right: 50px;
    text-transform: uppercase;
}

.home-button:hover,
.menu-button:hover,
.login-button:hover {
    background-color: #ffffff;
}

.menu-header1 {
    color: #7a2005;
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: -20px;
    text-align: center;
}

.menu-header2 {
    color: #7a2005;
    font-size: 30px;
    text-align: center;
}
.menu-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 80px;
}

.coffee-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color:#FFD700;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.coffee-item img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

.coffee-item .info {
    flex: 1;
}

.coffee-item h3 {
    margin: 0;
    color: #7a2005;
    font-weight: 900;
    font-size: 33px;
}

.coffee-item p {
    margin-top: 10px;
    color: #000000;
}
.table{
    margin-left: 190px;
    border: transparent;
   
}

#cart-button {
    color:  #7a2005;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-size: larger;
    font-weight: bold;
    margin-right: 50px;
    text-transform: uppercase;
}
  .info p{
    color: #7a2005;
    font-size: medium;
  }
