body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

.solid-box {
  background-color: #FFD700;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease;
}

.logo {
  color: #7a2005;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  font-size: 60px;
  font-family: fantasy;
}

h2 {
  text-align: center;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.home-button,
.menu-button{
  color: #7a2005;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  font-size: larger;
  font-weight: bold;
  margin-right: 50px;
  text-transform: uppercase;
}

.home-button:hover,
.menu-button:hover{
  background-color: #ffffff;
}
.container {
  width: 300px;
  margin: auto;
  margin-top: 8%;
  background-color: #FFD700; /* Set the background color of the container */
  border-radius: 5px; /* Add rounded corners to the container */
  padding: 20px; /* Add padding to create space between the container and the form elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
}

form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  color: #FFD700;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color: #7a2005;
}





